<style>
    /* Estilos gerais */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; /* Centralizar horizontalmente */
        align-items: ;
        height: 100vh; /* Preencher a altura da tela */
    }

    /* Estilos para o contêiner */
    .container {
        text-align: ;
        font-size: 25px;
        padding: 20px; /* Ajuste o preenchimento para dar espaço à borda */
        
    }

    /* Estilos para o título da página */
    h1 {
        color: #009688;
    }

    /* Estilos para o formulário */
    form {
        margin-top: 20px;
    }

    /* Estilos para os campos de entrada */
    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        text-align: left;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
    }

    /* Estilos para o botão de envio */
    button {
        background-color: #009688;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 25px;
    }

    button:hover {
        background-color: #00796b;
    }
</style>
<div class="container">
    <h1>Tela de Cadastro</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar</button>
    </form>
</div>
